<h1><%= @codeschool_course.name %></h1>
<div class="course-image">
	<%= image_tag(@codeschool_course.image_url) %>
</div>
<p><%= @codeschool_course.description %></p>
<p><%= link_to "All codeschool courses", codeschool_courses_path %></p>
