<h1><%= @portfolio_site.name %></h1>
<div class="portfolio-image">
	<%= @portfolio_site.screenshot_url %>
</div>
<p><%= @portfolio_site.description %></p>
<p><%= link_to "All portfolio sites", portfolio_sites_path %></p>
